###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

.env
###> symfony/asset-mapper ###
var
###< symfony/asset-mapper ###

