{{ form_start(form) }}
<div class="container">
    <div class="row">
        {{ form_label(form.des_notario, 'Nombre Notario:',{'label_attr': {'class':'col-md-2'}}) }}
        {{ form_widget(form.des_notario,{'attr': {'class':'col-md-8'}}) }}
    </div>

<div class="btn-group mr-2 btn-group-sm" role="group"  title="Grabar Registro" >
    <button type="submit" class="btn boton mr-2 btn-group-sm" role="button"><i class="fa fa-paste"></i> Grabar</button>
</div>
</div>
{{ form_end(form) }}

