{% extends 'baseDatatable.html.twig' %}

{% block title %}Nuevo Notario{% endblock %}
{% set id_tabla = 'notario' %}
{% set muestraMenu = true %}
{% set pathIndex =  path('app_testa_tnotario_index') %}

{% block body %}
    <h1>Nuevo Notario</h1>
    {{ include('testa_tnotario/_form.html.twig') }}
    <br>
{% endblock %}