{% extends 'baseDatatable.html.twig' %}

{% block title %}Edita Validacion{% endblock %}

{% set id_tabla = 'validacion' %}
{% set muestraMenu = true %}
{% set pathIndex =  path('app_testa_t_validacion_index') %}
{% set includeDelete =  'testa_t_validacion/_delete_form.html.twig' %}
{% block body %}
    <h1>Edita Validacion</h1>

    {{ include('testa_t_validacion/_form.html.twig', {'button_label': 'Actualizar'}) }}
    <br>
{% endblock %}

