{% extends 'base.html.twig' %}

{% block title %}New TestaTValidacion{% endblock %}

{% block body %}
    <h1>Create new TestaTValidacion</h1>

    {{ include('testa_t_validacion/_form.html.twig') }}

    <a href="{{ path('app_testa_t_validacion_index') }}">back to list</a>
{% endblock %}
