{% extends 'baseDatatable.html.twig' %}

{% block title %}Nuevo Parentesco{% endblock %}
{% set id_tabla = 'Parentesco' %}
{% set muestraMenu = true %}
{% set pathIndex =  path('app_testa_tparentesco_index') %}

{% block body %}
    <h1>Nuevo Parentesco</h1>
    {{ include('testa_tparentesco/_form.html.twig') }}
    <br>
{% endblock %}