<form method="post" action="{{ path('app_testa_timagen_delete', {'id': testa_timagen.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ testa_timagen.id) }}">
    <button class="btn">Delete</button>
</form>
