{% extends 'baseDatatable.html.twig' %}

{% block title %}Edita Imagen{% endblock %}

{% set id_tabla = 'imagen' %}
{% set muestraMenu = true %}
{% set pathIndex =  path('app_testa_timagen_index') %}
{% set includeDelete =  'testa_timagen/_delete_form.html.twig' %}
{% block body %}
    <h1>Edita Imagen</h1>

    {{ include('testa_timagen/_form.html.twig', {'button_label': 'Actualizar'}) }}
    <br>
{% endblock %}