{% extends 'base.html.twig' %}

{% block title %}Edit TestaTimagen{% endblock %}

{% block body %}
    <h1>Edit TestaTimagen</h1>

    {{ include('testa_timagen/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_testa_timagen_index') }}">back to list</a>

    {{ include('testa_timagen/_delete_form.html.twig') }}
{% endblock %}
