{% extends 'baseDatatable.html.twig' %}

{% block title %}New TestaTtestamento{% endblock %}

{% block body %}
    <h1>Create new TestaTtestamento</h1>

    {{ include('testa_ttestamento/_form.html.twig') }}

    <a href="{{ path('app_testa_ttestamento_index') }}">back to list</a>
{% endblock %}
