{% extends 'baseDatatable.html.twig' %}

{% block title %}Nuevo Testamento{% endblock %}
{% set id_tabla = 'testamento' %}
{% set muestraMenu = true %}
{% set pathIndex =  path('app_testa_ttestamento_index') %}

{% block body %}
    <h1>Nuevo Testamento</h1>
    {{ include('testa_ttestamento/_form.html.twig') }}
    <br>
{% endblock %}