{% extends 'base.html.twig' %}
{% set muestraMenu = false %}

{% block title %}Bokloi. Reseñas Bibliográficas{% endblock %}

 {% block stylesheets %}
 		    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
            <link rel="stylesheet" type="text/css"  href={{ asset('css/general.css') }}>
            <style>
            body{
                background: url(/img/pexels-negative-space-34592.jpg), repeat;
              
           }
            </style>
{% endblock %}


{% block body %}

    {% include 'menuGeneral.php' %}
 
    <div class="row align-items-center">
        <div class="col-9 mx-auto">
            <div class="card lema  bg-transparent" >
                <div class="card-body">
                <h1>¿Quiénes Somos?</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-9 mx-auto">
            <div class="card lema  bg-transparent" >
                <div class="card-body">
                <h4>Somos una plataforma que...

En 2021, desarrollamos un sistema de creación y publicación de reseñas para ampliar la información disponible a los usuarios de librerías y  bibliotecas. Del mismo modo, sirve como escaparate para que los apasionados del mundo de la literatura puedan darse a conocer.

En nuestra página web se pueden encontrar más de X reseñas.
Contamos con el apoyo de estudiantes y profesores de la Universidad de Murcia, y colaboramos con importantes bloggers españoles.
</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-9 mx-auto">
            <div class="card lema bg-transparent" >
                <div class="card-body">
                    <img src={{ asset('img/filigrana01blanca.png') }}  height="50" class="d-inline-block align-top" alt="">
                </div>
            </div>
        </div>
    </div>

  <footer class="footer">
      <div class="container">
         BOKLOI 2021 © 
      </div>
    </footer>



{% endblock %}
