{% extends 'base.html.twig' %}

{% block title %}Edit TestaTraw{% endblock %}

{% block body %}
    <h1>Edit TestaTraw</h1>

    {{ include('testa_traw/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_testa_traw_index') }}">back to list</a>

    {{ include('testa_traw/_delete_form.html.twig') }}
{% endblock %}
