{% extends 'base.html.twig' %}

{% block title %}New TestaTraw{% endblock %}

{% block body %}
    <h1>Create new TestaTraw</h1>

    {{ include('testa_traw/_form.html.twig') }}

    <a href="{{ path('app_testa_traw_index') }}">back to list</a>
{% endblock %}
