{% extends 'baseDatatable.html.twig' %}

{% block title %}Nuevo Oficio{% endblock %}
{% set id_tabla = 'Oficio' %}
{% set muestraMenu = true %}
{% set pathIndex =  path('app_testa_toficio_index') %}

{% block body %}
    <h1>Nuevo Oficio</h1>
    {{ include('testa_toficio/_form.html.twig') }}
    <br>
{% endblock %}