{% extends 'base.html.twig' %}

{% block title %}New TestaToficio{% endblock %}

{% block body %}
    <h1>Create new TestaToficio</h1>

    {{ include('testa_toficio/_form.html.twig') }}

    <a href="{{ path('app_testa_toficio_index') }}">back to list</a>
{% endblock %}
