{% extends 'baseDatatable.html.twig' %}

{% set id_tabla = 'Oficio' %}
{% set muestraMenu = true %}
{% set pathIndex =  path('app_testa_toficio_index') %}
{% set pathEdit =  path('app_testa_toficio_edit', {'id': testa_toficio.id}) %}
{% set includeDelete =  'testa_toficio/_delete_form.html.twig' %}

{% block title %}Oficio{% endblock %}

{% block body %}

    <h1>Oficio</h1>

    <table class="table  container fondoclaro">
        <tbody>
            <tr>
                <th width="10%">Id</th>
                <td>{{ testa_toficio.id }}</td>
            </tr>
            <tr>
                <th>Oficio</th>
                <td>{{ testa_toficio.desOficio }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}

