{% extends 'base.html.twig' %}

{% block title %}New TestaTpoblacion{% endblock %}

{% block body %}
    <h1>Create new TestaTpoblacion</h1>

    {{ include('testa_tpoblacion/_form.html.twig') }}

    <a href="{{ path('app_testa_tpoblacion_index') }}">back to list</a>
{% endblock %}
