{% extends 'baseDatatable.html.twig' %}

{% set id_tabla = 'Poblaci贸n' %}
{% set muestraMenu = true %}
{% set pathIndex =  path('app_testa_tpoblacion_index') %}
{% set pathEdit =  path('app_testa_tpoblacion_edit', {'id': testa_tpoblacion.id}) %}
{% set includeDelete =  'testa_tpoblacion/_delete_form.html.twig' %}

{% block title %}Poblaci贸n{% endblock %}

{% block body %}

    <h1>Poblaci贸n</h1>

    <table class="table  container fondoclaro">
        <tbody>
            <tr>
                <th width="10%">Id</th>
                <td>{{ testa_tpoblacion.id }}</td>
            </tr>
            <tr>
                <th>Poblaci贸n</th>
                <td>{{ testa_tpoblacion.desPoblacion }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
